.all-users-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    margin: auto;
}
.cornered-button{
    background-color: var(--cards-background);
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: var(--box-shadow-tiny);
}
.cornered-button[data-active="true"]{
    background-color: var(--cards-background-hovered);
    border: 2px solid #b3cffe;
}

.job-view-div{
    display: flex;
    flex-direction : row;
    margin-left : auto; 
    align-items:  baseline;
    margin-right : 20px; 
    gap:10px;
}

.admin-setting-entry{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cards-background);
    border-radius: 20px;
    border: solid 2px var(--solid-border);
    transition: var(--border-transition);
    box-shadow: var(--box-shadow-tiny);
}
:root.dark .admin-setting-entry{
    background: var(--header-gradient-simple-3);
}


.admin-setting-entry:hover{
    border-color: var(--solid-border-hover);
}
.admin-setting-entry-header{
    border-radius: 20px;
    display : flex;
    flex-direction: row;
    gap:10px;
    align-items:center;
    background-color: var(--cards-background);
    padding: 10px;
    cursor: pointer;
    transition: border-radius 0.2s linear;
}

.admin-setting-entry-header[data-extended="true"]{
    border-radius: 20px 20px 0px 0px;
    background-color: var(--cards-background-hovered);

}

.admin-setting-entry-header svg{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--svg-icon-back);
}

.admin-settings-list{
    max-width: 700px;
    margin: auto;
    width: 100%;
}

.admin-setting-entry-content{
    padding: 20px;
    
}
.admin-setting-entry-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    pointer-events: auto;
    transition: filter 0.3s cubic-bezier(1, 0, 0, 1);
}


.admin-setting-entry-line[data-is-enabled="false"]{
    pointer-events: none;
    filter: opacity(0.5);
}
.job-grid{
    display : grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap:10px;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .job-grid{
        grid-template-columns: auto;
    }
}

.admin-category{
    display: flex;
    gap : 10px;
    flex-direction: row;
    margin: 20px 0px 10px 0px;
    flex-wrap: wrap;
    align-items: center;
}
.admin-category h2{
    margin-top: 0px;
    margin-bottom: 0px;
}