.track-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: calc(100% - 30px);
}

.track-view{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: #f0f0f0;
    padding: 10px;
    width: calc(100% - 20px);
    gap: 20px;
}
.track-view p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
}
.track-number{
    margin-left: 10px;
}
:root{
    --dashArray: 60;
}
.track-number[playing="piano"], .track-number[playing="vinyl"]{
    margin-left: 4px;

}
.track-number[playing="piano"] path{
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: dash 5s cubic-bezier(.86,0,.07,1) alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.track-number[playing="vinyl"] path{
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: dash-40 5s cubic-bezier(.86,0,.07,1) alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes dash {
from {
    stroke-dashoffset: 60;
    }
to {
    stroke-dashoffset: 0;
}}
@keyframes dash-40{
    from {
        stroke-dashoffset: 57;
        }
    to {
        stroke-dashoffset: 0;
    }}
.album-content > img, .album-content > svg{
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    animation: rotate 5s linear infinite;
}
.track-id{
    display:none;
}
@media screen and (min-width: 450px) {
    .track-id{
        display:block;
    }
}
:root{
    --rotating: 0, 1, 0;
}


@keyframes rotate {
    0% { transform: rotate3d(var(--rotating), 0deg); }
    100% { transform: rotate3d(var(--rotating), 360deg); }
}
.album-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.album-details h1{
    margin: 10px;
}
.album-details h2{
    margin: 5px;
}


.album-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    border-radius: 20px;
}
@media screen and (min-width: 450px) {
    .album-content{
        flex-direction: row;
        width: calc(100% - 20px);
        align-items: flex-start;
    }
    .album-content > img, .album-content > svg{
        padding: 100px;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        animation: rotate 5s linear infinite;
    }
    .album-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: flex-start;
    }
}

