.track-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: calc(100% - 0px);
}
.artist-card{
    box-shadow: var(--box-shadow-small);
    border-radius: 10px;
    cursor: pointer;
}
.artist-card-cover{
    border-radius: 10px;
    width: 100%;
    display: flex;
    height: auto;
}
.lossless{
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 10px;
}
.genre-album{
    background-color: var(--cards-background);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}
.genre-album:hover{
    background-color:var(--cards-background-hovered);
}
.album-cover-genres{
    display: inline-block;
    text-align: left;
}
.album-cover-genres p{
    width: 100%;
    word-break: break-word; /* just in case */
    max-width: 500px;
}

.album-cover-wrapper{
    display: flex;
    gap:20px;
    flex-direction: column;

}
.genres-album-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
}
.album-artists{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    margin: 0px 10px;
}
/* Margin for the player */
.artist-name{
    cursor: pointer;
    margin: 7px 10px;

}
.artist-name:hover{
    color: #c6497d;
}

.album-artists .artist-name{
    margin: 0px;
}
.track-view{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: var(--track-entry);
    padding: 10px;
    width: calc(100% - 60px);
    gap: 20px;
    border: solid 2px var(--solid-border-hover);
    position: relative;
    align-items: center;
    margin-left: 30px;
}
.track-view:hover, .track-view[action-bar="open"]{
    /* Because on mobile there is no proper hover,
    the hover state will remain, making the div stands out
    to much. We dim the color.
     */
    background-color:   color-mix(in srgb, var(--track-entry-hover)20%, var(--track-entry));
}
@media screen and (min-width: 820px) {  
    .track-view:hover, .track-view[action-bar="open"]{
        background-color:   var(--track-entry-hover);
    }
}

.track-view p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
}


:root.dark .track-view p{
    color: white;
}
.track-favorite{
    position: absolute;
    pointer-events: none;
    z-index: -1;
    left: -30px;
    fill: rgb(252, 161, 184);
    color: rgb(255, 94, 94);
}

.track-view:hover .track-number{
        /* On mobile we still show it. The goal is to show the <3 button,
        which is not avaliable in mobile.*/
    /* opacity: 0; */

    pointer-events: none;
}
@media screen and (min-width: 820px) {  
    .track-view:hover .track-number{
        /* On mobile we still show it. The goal is to show the <3 button,
        which is not avaliable in mobile.*/
    opacity: 0;
}
}

.track-view:hover .track-favorite{
    display: inline-block;
} 
.track-view .track-toggle-favorite
{
    display: none;
    pointer-events: none;
}
.track-view .track-actions-dots{
    display: inline-block;
    flex-shrink: 0;
}
.track-length{
    display: none;
}
.track-name{
    flex-grow : 1;
    margin-left: calc(var(--margin) - 5px);
}
.track-number{
    margin-left: 5px;
    position: absolute;
    
}
@media screen and (min-width: 820px) {  
    .track-view:hover .track-favorite, .track-view .track-actions-dots{
        display: none;
    } 

    .track-view:hover .track-toggle-favorite, .track-view:hover .track-actions-dots{
        display: inline-block;
        pointer-events: all;
    }
    .track-view{
        margin-left: 0px;
        width: calc(100% - 20px);
    }
    .track-favorite{
        left: -35px;
    }.track-length{
        display: auto;
        padding-right: 10px;
    }
    .track-number{
        margin-left: 10px;

    }
    .track-name{
        flex-grow : 1;
        margin-left: var(--margin);
    }
}
@media screen and (min-width: 1100px) {  
    .album-cover-genres{
        max-width: 50%;
    }
}

.track-toggle-favorite{
    display: none;
    position: absolute;
    cursor: pointer;
    height: 24px;
    z-index: 2;
}

.track-actions-dots{
    width: 30px;
    display: none;
    cursor: pointer;
}

.track-toggle-favorite svg{
    cursor: pointer;
    pointer-events: none;
}
  
  

:root{
    --dashArray: 60;
}
.track-number[data-show-cover="true"]{
    color: rgb(255, 255, 255);
}
.track-number[playing="piano"], .track-number[playing="vinyl"]{
    margin-left: 0px;

}
.track-number[playing="piano"] path{
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: dash 5s cubic-bezier(.86,0,.07,1) alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.track-number[playing="vinyl"] path{
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: dash-40 5s cubic-bezier(.86,0,.07,1) alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.track-list-header{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.track-list-header h1{
    margin: 0px 20px 0px 0px;
}
@keyframes dash {
from {
    stroke-dashoffset: 60;
    }
to {
    stroke-dashoffset: 0;
}}
@keyframes dash-40{
    from {
        stroke-dashoffset: 57;
        }
    to {
        stroke-dashoffset: 0;
    }}
.album-content .cover-image{
    padding: 2px;
    width: auto;
    height: auto;
    max-height: 306px;
    max-width: calc(100% - 50px);
    margin: auto;
    border-radius: 20px;
    animation: rotate 5s linear infinite;
    display: block;
    box-shadow: 5px 3px 0px var(--font-color);
}

@media screen and (min-width: 1100px) {
    .album-content .cover-image{
        max-width: 400px;
        padding: 5px;
        height: auto;
        margin: 0;
        border-radius: 20px;
        animation: rotate 5s linear infinite;
        display: block;
        min-width: 300px;
    }
}
.track-id{
    display:none;
}
.background-image{
    object-fit: cover;
    position: fixed;
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    /* -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    top: 0px;
    filter: blur(5px);
    right: 0px;
    height: 100%;
    width: auto;
    transform: translateX(25%);
    pointer-events: none;
    z-index: 0;
    animation: show 0.5s ease   ;

}
.album-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    position: relative;
}
.album-details h1{
    font-size: 30px;
    text-align: center;
    line-height: 32px;
}
.album-details h2{
    margin: 5px;
}
#radio-page .track-list-header{
    margin-left: 10px;
}

#new-playlist{
    margin-bottom: 40px;
    margin-left: 10px;
}
@media screen and (min-width: 820px) {
    #new-playlist{
        margin-bottom: 40px;
        margin-left: 0px;
    }
    .album-details h1{
        margin: 10px;
        font-size: 40px;
        text-align: left;
        line-height: 50px;

    }
    .album-details h2{
        margin: 5px;
    }
    .track-id{
        display:block;
    }
    .background-image{
    
        top: 60px;
    
    }
}
:root{
    --rotating: 0, 1, 0;
}


@keyframes rotate {
    0% { transform: rotate3d(var(--rotating), 0deg); }
    100% { transform: rotate3d(var(--rotating), 360deg); }
}




@keyframes show {
    0% { opacity: 0; transform: translateX(26%);  }
    100% { opacity: 1; transform: translateX(25%); }
}

.alligned-title-logo{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#fav-radios .album-card{
    max-width: 50%;
}

.album-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    gap: 60px;

}
@media screen and (min-width: 1100px) {
    .album-content{
        flex-direction: row;
        width: calc(100% - 20px);
        align-items: flex-start;
        padding-bottom: 0px;
    }
    .album-content > img, .album-content > svg{
        padding: 100px;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        animation: rotate 5s linear infinite;
        display: block;
    }
    .album-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: flex-start;
    }
}


#text-no-genre{
    margin: auto;
}
