.track-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: calc(100% - 30px);
}
.artist-card-cover{
    border-radius: 10px;
}
.lossless{
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 10px;
  }
.genre-album{
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}
.genre-album:hover{
    background-color:#c6ccfc5e;
}
.album-cover-genres{
    display: inline-block;
    text-align: left;
}
.album-cover-genres p{
    width: 100%;
    word-break: break-word; /* just in case */
    max-width: 500px;
}

.album-cover-wrapper{
    display: inline-block;

}
.genres-album-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
}
.album-artists{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}
.artist-name{
    cursor: pointer;
}
.artist-name:hover{
    color: #c6497d;
}
.track-view{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: var(--track-entry);
    padding: 10px;
    width: calc(100% - 20px);
    gap: 20px;
    border: solid 2px #f0f0f0;
    position: relative;
    align-items: center;
}
.track-view:hover, .track-view[action-bar="open"]{
    background-color:   var(--track-entry-hover);
}

.track-view p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
}

.track-favorite{
    position: absolute;
    pointer-events: none;
    z-index: -1;
    left: -35px;
    fill: rgb(252, 161, 184);
    color: rgb(255, 94, 94);
}

.track-view:hover .track-number{
    opacity: 0;
    pointer-events: none;
}

.track-view:hover .track-favorite{
    display: inline-block;
} 
.track-view .track-toggle-favorite
{
    display: none;
    pointer-events: none;
}
.track-view .track-actions-dots{
    display: inline-block;

}

@media screen and (min-width: 714px) {  
    .track-view:hover .track-favorite, .track-view .track-actions-dots{
        display: none;
    } 

    .track-view:hover .track-toggle-favorite, .track-view:hover .track-actions-dots{
        display: inline-block;
        pointer-events: all;


    }
}
.track-toggle-favorite{
    display: none;
    position: absolute;
    cursor: pointer;
    height: 24px;
    z-index: 2;
}

.track-actions-dots{
    display: none;
    cursor: pointer;
}

.track-toggle-favorite svg{
    cursor: pointer;
    pointer-events: none;
}
  
  
.track-number{
    margin-left: 10px;
    position: absolute;
}
:root{
    --dashArray: 60;
}
.track-number[data-show-cover="true"]{
    color: rgb(255, 255, 255);
}
.track-number[playing="piano"], .track-number[playing="vinyl"]{
    margin-left: 4px;

}
.track-number[playing="piano"] path{
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: dash 5s cubic-bezier(.86,0,.07,1) alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.track-number[playing="vinyl"] path{
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: dash-40 5s cubic-bezier(.86,0,.07,1) alternate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.track-list-header{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    
}
@keyframes dash {
from {
    stroke-dashoffset: 60;
    }
to {
    stroke-dashoffset: 0;
}}
@keyframes dash-40{
    from {
        stroke-dashoffset: 57;
        }
    to {
        stroke-dashoffset: 0;
    }}
.album-content .cover-image{
    padding: 5px;
    width: auto;
    height: 306px;
    margin: 0;
    border-radius: 20px;
    animation: rotate 5s linear infinite;
    display: block;
}

@media screen and (min-width: 1100px) {
    .album-content .cover-image{
        padding: 5px;
        width: auto;
        height: 400px;
        margin: 0;
        border-radius: 20px;
        animation: rotate 5s linear infinite;
        display: block;
    }
}
.track-id{
    display:none;
}
.background-image{
    object-fit: cover;
    position: fixed;
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    /* -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    top: 0px;
    filter: blur(5px);
    right: 0px;
    height: 100%;
    width: auto;
    transform: translateX(25%);
    pointer-events: none;
    z-index: 0;
    animation: show 0.5s ease   ;

}
.album-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.album-details h1{
    font-size: 30px;
}
.album-details h2{
    margin: 5px;
}

@media screen and (min-width: 714px) {
    .album-details h1{
        margin: 10px;
        font-size: 40px;

    }
    .album-details h2{
        margin: 5px;
    }
    .track-id{
        display:block;
    }
    .background-image{
    
        top: 60px;
    
    }
}
:root{
    --rotating: 0, 1, 0;
}


@keyframes rotate {
    0% { transform: rotate3d(var(--rotating), 0deg); }
    100% { transform: rotate3d(var(--rotating), 360deg); }
}




@keyframes show {
    0% { opacity: 0; transform: translateX(26%);  }
    100% { opacity: 1; transform: translateX(25%); }
}


.album-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    gap: 60px;
    /* Mobile scroll */
    padding-bottom: 200px;
}
@media screen and (min-width: 1100px) {
    .album-content{
        flex-direction: row;
        width: calc(100% - 20px);
        align-items: flex-start;
        padding-bottom: 0px;
    }
    .album-content > img, .album-content > svg{
        padding: 100px;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        animation: rotate 5s linear infinite;
        display: block;
    }
    .album-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: flex-start;
    }
}

