.track-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: calc(100% - 30px);
}

.track-view{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    width: calc(100% - 20px);
}
.track-view p{
    margin: 0;
    font-size: 16px;
}
.album-content img{
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    animation: rotate 5s linear infinite;
}
.track-id{
    display:none;
}
@media screen and (min-width: 450px) {
    .track-id{
        display:block;
    }
}
:root{
    --rotating: 0, 1, 0;
}


@keyframes rotate {
    0% { transform: rotate3d(var(--rotating), 0deg); }
    100% { transform: rotate3d(var(--rotating), 360deg); }
}
.album-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.album-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}
@media screen and (min-width: 450px) {
    .album-content{
        flex-direction: row;
        width: calc(100% - 20px);
        align-items: flex-start;
    }
    .album-content img{
        padding: 100px;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        animation: rotate 5s linear infinite;
    }
    .album-details{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: flex-start;
    }
}