.cooking-selection{

    border-radius: 20px;   
    height: fit-content;
    width:  80%;
    margin: 100px auto auto auto;
    position: relative;
    z-index: 1;

}
.cooking-tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;   
    min-height: 60px;
    height: 100%;
    z-index: 2;
    position: relative;
}

.cooking-actions{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -38px;
    height: 60px;
    z-index: 0;
    gap: 10px;
}
.cooking-actions button{
    border-radius: 15px 15px 0 0;
    padding-bottom: 20px;
    height: auto;
    transition: transform 0.2s;  
}
.cooking-actions button:hover{
    transform: translateY(-5px);
    transition: transform 0.2s;    
}