#fft-canvas{
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25%;
    pointer-events: none;
}
/* 
@media screen and (min-width: 820px) {
    #fft-canvas{
        bottom: 0px;
    }

} */

#fft-canvas-small{
    position: absolute;
    right: 10px;
    height: 30px;
    top: 10px;
}