.full-screen-image{
    position: relative;
    top: 0px;
    width: auto;
    margin: auto;
    max-width: 100%;
    bottom: 0;
    object-fit: cover;
}
.full-screen-image-back{
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    left: 0;
    top: 0;
    z-index: 0;
    object-fit: cover;
    filter: brightness(0.7);
}

.full-screen-header{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    margin: 10px;
}

.full-screen{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-content: center;
}
.full-screen-back{
    opacity: 0.7;
    display:initial;
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.full-screen-back:hover{
    opacity: 0.9;
    display:initial;

}
.full-screen-back[data-inactive="true"]{
    opacity: 0;
}

.full-screen-audio-ctrl{
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
    bottom: 150px;
    opacity: 0.5;
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.1s;
    z-index: 10;
}
.full-screen-audio-ctrl:hover{
    opacity: 0.9;
}

.full-screen-audio-ctrl[data-inactive="true"]{
    opacity: 0;
}

.full-screen-audio-ctrl > div {
    background-color: var(--cards-background);
    padding: 2px 10px;
    border-radius: 20px;
    height: 26px;
    
}
.full-screen-page{
    overflow: hidden;
}
.full-screen-audio-ctrl svg {
    width : 30px;
    aspect-ratio: 1;
}
.full-screen-fadable{
    opacity: 1;
    transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.full-screen-fadable[data-inactive="true"]{
    filter: brightness(1);
}
.full-screen-image-back[data-inactive="true"]{
    filter: brightness(0.4) 
    blur(10px) !important;
}

.full-screen-fadable[data-inactive="false"]{
    filter: brightness(0.6);
}
.full-screen-image-back[data-inactive="false"]{
    filter: brightness(0.7)    
    blur(5px) !important;
}

.full-screen-image[data-inactive="false"]{
    filter: brightness(0.8);
}

.full-screen-fadable[data-hidden="true"]{
    opacity: 0;
}

.full-screen-image[data-hidden="false"]{
    animation: fade-in-front 0.5s ease-out 0s 1 forwards;

}
@keyframes fade-in-front {
    from{
        translate: 0px 10px;
    }
    to{
        translate : 0px 0px; 
    }
}