.app-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.content-container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    gap: 5px;
    overflow: hidden;
}
.home.album-displayer[data-no-tracks="true"] {
    display: block !important;
  }
@media screen and (min-width: 714px) {
    .content-container{
        flex-direction: row;
    }
}
@media screen and (max-width: 714px) {
    .content-container[page="inside"] .sidebar{
        display: none;
    }
}



.album-displayer{
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;

}
.genre-displayer{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill, 350px);
}

.content{
    border: solid rgba(255, 255, 255, 0.836) 3px;
    background: linear-gradient(90deg, rgb(204, 251, 230) -50%, rgb(198, 203, 253) 50%, rgb(248, 221, 255) 100%); 
    margin: 10px 10px 0px 10px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
}
@media screen and (min-width: 714px) {
    .album-displayer{
        grid-template-columns: repeat(auto-fill, 200px);

    }
    .content{
        overflow: auto;
        width: 100%;
    }
}