#root {
  width: 100%;
}

:root{
  --mobile-padding : 150px;
  --mobile-shortcut-hight : 75px;
  --mobile-screen-width : 820px;
  /* CSS HEX */
  --yinmn-blue: #235690ff;
  --chill-purple: #c6ccfc;
  --jungle-green: #32A583ff;
  --thistle: #F2CFEDff;
  --violet-web-color: #E78FF0ff;
  --heliotrope: #C86AF9ff;
  --cool-green: #bfeae9;
  --font-color-base: #293a6d;
  --font-color: var(--font-color-base);
  --button-hover : #e2f5ff;
  --button-back : #ffffff;
  --auth-pannel : aliceblue;
  --selection : #febe8f;
  --selection-text : var(--font-color);
  --green : green;
  --gray : #5c5c5c;
  --login-success : var(--green);
  --red : red;
  --login-fail : var(--red);
  --header-1:#bbfbdf;
  --header-2:#c6cbfd;
  --header-3:#efc9f9;
  --a-back : #00000000;
  --a-hover : #d2f6ff;
  --a-color-hover:#2459bc;
  --solid-border : #ffffffea;
  --solid-border-hover : #ffffff;
  /* NEEDS TO BE RGB format! */
  --cards-background: #ffffffbd ;
  --cards-background-hovered : #ffffff;
  --album-cards-background:#e0f8fe2f;;
  --album-cards-background-hovered: #e9fafe7d ;
  --track-entry:#f0f0f0c4;
  --track-entry-hover : #cdebeec4;
  --genre-cards-background : #ffffff53;
  --tutorial-target : #53ff9e;
  --mobile-entry-in-view :#8f4ecf;

  --header-gradient : linear-gradient(90deg, var(--header-1) 0%,
    var(--header-2) 50%,  var(--header-3) 100%);
  --header-gradient-simple-2 :linear-gradient(90deg, var(--header-2)
    -40%, var(--header-1) 140%);
  --header-gradient-simple :linear-gradient(90deg, var(--header-1)
    -40%, var(--header-2) 140%);
    --header-gradient-simple-3 :linear-gradient(180deg, color-mix(in srgb, var(--header-1) 70%, white)
    -40%, var(--header-2) 140%);
  --white-gradient-simple : linear-gradient(180deg, #ffffff
  -40%, #a9a9a9 140%);
  --color-gradient-simple : linear-gradient(180deg, var(--header-3)-40%, var(--header-2) 140%);
  --progress-background :#dfdfdf;
  --job-status-min-opacity : 0.35;
  --svg-icon-back : #ffffff;
  --border-transition : border 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  --box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --box-shadow-small : 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  --box-shadow-tiny : 0 4px 3px 0 rgba(0, 0, 0, 0.07), 0 6px 15px 0 rgba(0, 0, 0, 0.07);

}

:root.dark{
  /* CSS HEX */
  --yinmn-blue: #235690ff;
  --chill-purple: #7579a3;
  --jungle-green: #32A583ff;
  --thistle: #F2CFEDff;
  --violet-web-color: rgb(187, 47, 202);
  --heliotrope: #C86AF9ff;
  --cool-green: #bfeae9;
  --font-color: #cccef7;
  --button-hover : #80568c;
  --button-back : #363536;
  --auth-pannel : #586169f0;
  --selection : #9df6ff;
  --selection-text : #000000;
  --green : #63fc63;
  --red : rgb(255, 42, 42);
  --gray : #fff;
  --login-fail : #ffffff;
  --header-1:#334b67;
  --header-2:#1e2733;
  --header-3:#1a1a1b;
  --a-back : #00000000;
  --a-hover : #d2f6ff2f;
  --a-color-hover : #ffffff;
  --solid-border:#6387ad;
  --solid-border-hover : #7ca7d6;
  --cards-background: #485c71 ;
  --cards-background-hovered: #6481a0 ;
  --album-cards-background:#e5e0fe09;
  --album-cards-background-hovered: #eae9fe15 ;
  --track-entry : var(--cards-background);
  --track-entry-hover : var(--cards-background-hovered);
  --progress-background :#34434a;
  --job-status-min-opacity : 0.4;
  --svg-icon-back : #414242;
  --genre-cards-background : #4c5a7780;
  --tutorial-target : var(--green);
  --mobile-entry-in-view :#5586fa;

  --header-gradient-simple-3 :linear-gradient(180deg, var(--header-1)
  -40%, var(--header-2) 140%);
}

.buttonRound{
  padding: 5px;
  background-color: var(--cards-background);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: var(--box-shadow-small);
}
.buttonRound:hover{
  background-color: var(--cards-background-hovered);
}

.closeOverlay{
  position: absolute;
  top: 10px;
  right:10px;
  padding:5px;
  cursor: pointer;

}



.button-with-callback{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-content: center;
  width: fit-content;
  gap: 3px;
  /* background-color: #f3f3f3; */
}
.button-with-callback:hover{
  /* background-color: #cce9ec; */
}

.button-with-callback[data-is-active='true']{
  background-color: #6d739a;
  color: #c9dfff;
}

.keyboard-key{
  background-color: white;
  padding: 2px 5px;
  border-radius: 10px;
  border-top: 3px solid #cbcbcb;
  border-right:4px solid #bdbdbd;
  border-bottom: 6px solid #9e9e9e;
  border-left: 4px solid #808080;
  font-size: 13px;
  color: var(--font-color-base);
  }

.global-action-bar{
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  margin-top: 40vh;
  z-index: 1000;
}

.action-bar-research{
  background-color: var(--cards-background-hovered);
  width: calc(100% - 20px);
  padding: 10px 10px;
  border-radius: 20px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 10 ; 
}

.action-bar{
  width:100%;
  max-width: 500px;
}
.cooking-header{
  position: relative;

}
.go-back{
  margin-left: 10px;
}
@media screen and (min-width: 820px) {
  html, body {
    overflow: hidden; /* default: no scroll */
  }
  
  html.scroll-enabled, body.scroll-enabled {
    overflow: auto; /* or scroll */
  }
  .go-back{
    margin-left: 0px;
  }
}
.info-line{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: end;
}
.info-button{
  cursor: pointer;
  background-color: var(--cards-background);
  border-radius: 20px;
  padding: 3px;
}
.action-bar[is-playlist-add="true"]{
  width: 100%;
  max-width: 700px;
}

.action-bar-results{
  background: var(--white-gradient-simple);
  width:calc(100% - 60px);
  height: fit-content;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  transform: translateY(-20px);
  padding: 10px 10px 0px 10px ;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top : 70px;
  height: fit-content;
  right: 20px;
  transition: width 0.2s ease-out;
  overflow-x: hidden;
}
.action-bar[data-search-mode="true"] .action-bar-results{
  width:calc(100% - 30px);
}
:root.dark .action-bar-results{
  background: var(--header-gradient-simple-3);
  border: solid 2px var(--solid-border)
}

.action-bar-logo-container{
  display: none;
}
.color-theme-btn{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
}

@media screen and (min-width: 820px) {
  .action-bar-logo-container{
    padding: 5px;
    height: 40px;
    width: 60px;
    padding: 5px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--cards-background-hovered);
    position: absolute; 
    left: -30px;
    z-index: 8 ;
    animation: showActionCurrent ease 0.4s forwards;
    display: inline;
  }
}

.action-bar-current-logo{
  margin: 10px;
}

.searchbar{
  /* padding: 0px ; */
  width : calc(100% - 40px);
  z-index: 9;
  margin-left: 0px;
  transition: margin-left 0.4s ease, width 0.4s ease;
}

.searchbar[logo='true']{
  width : calc(100% - 55px);
  margin-left: 15px;
  transition: margin-left 0.4s ease, width 0.4s ease;
}

.action-bar-entry{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap : 10px;
  border-radius: 12px;
  cursor: pointer;
  /* padding: 0px 10px 0px 10px; */
}
.from-global-bar{
  margin-bottom: 20px;
  width: calc(100% - 20px);
  margin-top: 10px;
}

.from-search-bar{
  padding: 0px;
  height: 70px;
}

.action-bar-entry:hover{
  background-color: var(--cards-background-hovered);
}

.action-bar-entry span {
  line-height: 20px;
}

@keyframes showActionCurrent{
  0%{
    left : 0px;
  }
  100%{
    left : -50px
  }
}

.action-bar-entry-logo{
  width: auto;
  height: 80%;
  border-radius: 7px;
  background-color: transparent;
}

.action-tooltip-div{
  display : flex;
  flex-direction : row;
  align-content: center;
  gap : 5px;
}

.action-bar-entry-tooltip-logo{
  /* width: auto;
  height: 20%; */
  border-radius: 7px;
  background-color: none;
}

#hidden{
  display: none;
}
.notification-parent{
  width: 100%;
  position: fixed;
  bottom: 0px;
  align-content: center;
  z-index: 200;
  pointer-events: none;
}
.notification{
  margin: 0px auto 30px auto;
  background-color: var(--cards-background);
  border-radius: 20px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
  gap: 10px;
}
.notification-parent[direction="show"]{
  animation: toggleNotification ease 0.4s forwards;
}
.notification-parent[direction="hide"]{
  animation: toggleNotification ease 0.4s reverse;
}
@keyframes toggleNotification{
  0%{
    bottom: -100px;
  }
  100%{
    bottom: 0px;
  }

}

.track-actions-div{
  position: fixed;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #eeeeee;
  border-radius: 15px;
  z-index: 10;
  right: 150px;
}
:root.dark .track-actions-div{
  background-color: var(--cards-background);
}
.track-action-entry{
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
}
.track-action-entry span{
  flex: 1;
}
.track-action-entry:hover{
  background-color: var(--cards-background-hovered);;

}

.tag-color{
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.track-mini-thumbnail{
  width: 40px;
  height: auto;
  padding: 0px;
  left : 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 0;
}

#background-img{
    mask: url(/background-baked.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: -1;
    mask-repeat: repeat;
    mask-position: center;
    mask-size: cover;
    /* live gradient */
    background: linear-gradient(to bottom, var(--col1), var(--col2));
}
#researchbar{
  min-height: 200px;
}
#researchbar > div{
  display: flex;
  flex-direction: column;
}
#researchbar > div input {
  margin-top: 0px;
}
#researchbar .action-bar-research{
  z-index: 0;
  height: auto;
  background: none;

}
#researchbar .action-bar-results{
  position: relative;
  top: 0px;
  left : 0; 
  transform: none;
  width: 100%;
  height: fit-content;
  background: none;
}

#track-lyrics-div{
  position: absolute;
  right: 0;
  margin-right: 30px;
  top: calc(50% - 150px);
  background-color: rgba(186, 186, 186, 0.415);
  width: 30%;
  height: 300px;
  border-radius: 20px;
  padding: 10px 20px;
  z-index: 10;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}
.in-lyrics{
  color: #eaf1ff;
  font-size: 30px;
  line-height: 35px;
  font-weight: 900;
  filter:blur(0.3px);

}
.off-lyrics{


  color: #c6c6c69f;
  font-size: 20px;
  filter:blur(1px);
  font-weight: 500;
}