.albumWrapping{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    padding: 20px 30px;
}
.page-overlay-blur{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    align-items: center;
    backdrop-filter: blur(4px);
    animation: openBlur 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
@keyframes openBlur {
    from {
        backdrop-filter: blur(0px);
    }
    to{
        backdrop-filter: blur(4px);
    }
    
}
.albumWrapping-library{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    padding: 20px 30px;
    background: var(--header-gradient-simple-3);
    border: solid 2px var(--solid-border);
    margin: auto;
    top: 50px;
    height: calc(100% - 120px);
    width: calc(100% - 90px);
    border-radius: 20px;
    gap: 20px;
    align-items: center;
    
}

#bio{
    height: 200px;
    padding: 10px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 820px) {
    .albumWrapping-library{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 10px;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding: 20px 30px;
        background-color: aliceblue;
        margin: auto;
        top: calc(50% - 300px);
        height: fit-content;
        width: 800px;
        max-width: calc(100% - 90px);
        border-radius: 20px;
        gap: 40px;
    }
}

.albumCover{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    gap: 10px;
}
.albumCover[edit="true"]{
    width: 400px;
    max-width: 100%;
}
.albumCoverImage{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.albumDetails{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: none;
    width: 100%;
}

@media screen and (min-width: 820px) {
    .albumDetails{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: auto;
    overflow-x: hidden;
    width: 80%;
    margin-top: 0px;
}
}


.albumType{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 0px;
}
@media screen and (min-width: 820px) {
    .albumType{
        display: grid;
        grid-template-areas: "myArea myArea";
        column-gap: 10px;
        row-gap: 0px;
    }
}
.albumTypeOption{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.albumCoverImageEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.albumCoverImageEdit:hover img{
    filter: blur(2px);
    transition: filter 0.3s;
}
.albumCoverImageEdit label{
    opacity: 0;
    position: absolute;
    top: 20%;
    width: 75%;
    height: 75%;
    cursor: pointer;
}
.albumCoverImageEdit label svg{
    width: 100%;
    height: 75%;
    color: white;
}
.albumCoverImageEdit:hover label{
    opacity: 1;
    transition: opacity 0.3s;
}

.album-wrapping-track{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    display: flex;
     align-items: center;
     flex-direction: row;
}

.deletion-confirmation{
    background-color: #e5e8ff;
    position: absolute;
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top : calc(50% - 50px);
    margin: auto;
    z-index: 15;
}

.deletion-confirmation > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}