.albumWrapping{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    padding: 20px 30px;
}
.albumWrapping-library-container{
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    align-items: center;
}
.albumWrapping-library{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    padding: 20px 30px;
    background-color: aliceblue;
    margin: auto;
    top: 50px;
    height: calc(100% - 120px);
    width: calc(100% - 90px);
    border-radius: 20px;
}

@media screen and (min-width: 714px) {
    .albumWrapping-library{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 10px;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding: 20px 30px;
        background-color: aliceblue;
        margin: auto;
        top: calc(50% - 300px);
        height: fit-content;
        width: 800px;
        border-radius: 20px;
    }
}

.albumCover{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    aspect-ratio: 1;
    gap: 10px;
}
.albumCover[edit="true"]{
    width: 400px;
}
.albumCoverImage{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.albumDetails{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: none;
    padding: 0px 20px;
}

@media screen and (min-width: 714px) {
    .albumDetails{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: auto;
    overflow-x: hidden;
    width: 80%;
    padding: 0px 20px;
}
}


.albumType{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 0px;
}
@media screen and (min-width: 714px) {
    .albumType{
        display: grid;
        grid-template-areas: "myArea myArea";
        column-gap: 10px;
        row-gap: 0px;
    }
}
.albumTypeOption{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.albumCoverImageEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.albumCoverImageEdit:hover img{
    filter: blur(2px);
    transition: filter 0.3s;
}
.albumCoverImageEdit label{
    opacity: 0;
    position: absolute;
    top: 20%;
    width: 75%;
    height: 75%;
    cursor: pointer;
}
.albumCoverImageEdit label svg{
    width: 100%;
    height: 75%;
    color: white;
}
.albumCoverImageEdit:hover label{
    opacity: 1;
    transition: opacity 0.3s;
}

.album-wrapping-track{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}