
.trackRemapAlbum-container{
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
}

.trackRemapAlbum{
    background-color: var(--cards-background);
    border-radius: 10px;
    padding: 25px;
    position: relative;
    margin: auto;
    width: calc(50%);

}
.trackRemapAlbum form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.trackRemapAlbum label{
    margin-top: 10px;
}
.last-track-notify{
    color: var(--red);
    font-size: 12px;
    margin-top: 5px;
}