:root{
    --width: 800px;
    --height: 700px;
}

.addMusicContainer{
    text-align: center;
    position: fixed;
    top: 10%;
    width: var(--width);
    right: calc(50% - (var(--width) / 2));   
    width: var(--width);
    height: var(--height);
    background-color: aliceblue;
    border-radius: 25px;
    z-index: 5;
}

.addMusicNav{
    display: flex;
    justify-content: center;
    gap:10px;
}

.album-overview-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 28px;
    overflow-y: auto;
}

.albums-overview{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
}