img{
    width: 200px;

}


.authDiv{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 400px;
    width: calc(100% - 70px);
    background-color: var(--auth-pannel);
    border-radius: 20px;
    padding: 10px 20px;
    height: calc(100% - 60px);
    border: solid 3px white;
}
.authDiv > svg{
    max-width: 200px;
}

.authDiv > form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    max-width: 300px;
}

@media screen and (min-width: 714px) {
    .authDiv{
        max-width: 400px;
    }
}

.authDiv label{
    font-weight: bold;
}


input, textarea, select{
    height: 30px;
    border-radius: 20px;
    background-color: white;
    border: none;
    margin: 10px 0px;
    padding: 2px 20px;
    flex-shrink: 0;
    color: #000;            /* ensure text is visible */
    caret-color: #000;      /* optional: change blinking cursor color */

}
input[type="submit"]:hover{
    background-color: #def9fd;
    cursor: pointer;
}

.loginFeedback{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap : 10px;
}

.loginFeedback[sucess="true"]{
    color: var(--login-success);
}
.loginFeedback[sucess="false"]{
    color: var(--login-fail);
}

.loginFeedback path{
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
    animation: dash 0.5s linear;
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
        }
    to {
        stroke-dashoffset: 10;
    }}
