.backend-job{
    max-width: 400px;
    min-height: 175px;
    transition: var(--border-transition);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 10px 30px 20px 30px;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--solid-border);
    background: white;
    box-shadow: var(--box-shadow-tiny);
}
:root.dark .backend-job{
    background: var(--header-gradient-simple-3);
}

:root.dark .backend-job:hover{
    border-color: var(--solid-border-hover);
}
.backend-job h3{
    margin: 0;
}

.job-status{
    display: flex;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    align-content: center;
    opacity: var(--job-status-min-opacity);
    transition: opacity 0.2s;
}
.job-status[data-status="init"]{
    background-color: blueviolet;
}
.job-status[data-status="stop"]{
    background-color: var(--red);
}
.job-status[data-status="run"]{
    background-color: var(--green);
}
.job-status[data-status="inactive"]{
    background-color: var(--gray);
}
.job-status span {
    margin: auto;
    color:white;
}

.backend-job:hover .job-status{
    opacity: calc(var(--job-status-min-opacity) + 0.3);
}
.job-status[data-running="true"]{
    animation: running 1s infinite;
}
:root.dark .job-status span{
    color: var(--font-color-base);
}

@keyframes running {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.7;
    }
}