.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(90deg, rgb(187, 251, 223) 0%, rgb(198, 203, 253) 50%, rgb(239, 201, 249) 100%);
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.logoHeader{
    width: 50px;
    height: 50px;
    left: 0px;
}

.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.header__logo svg{
    width: 50px;
    height: auto;
}
.headerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.addMusicButton{
    padding: 5px;
    background-color: white;
}
.musicPlayer{
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 75px;
    width: calc(100% - 20px);
    background: linear-gradient(90deg, rgb(187, 251, 223) 0%, rgb(198, 203, 253) 50%, rgb(239, 201, 249) 100%);
    padding: 4px 10px;
    border-radius: 0px;
    bottom: 0;
}

.trackinfos-parent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.trackinfo-desktop{
    display: none;
}
.trackinfo-mobile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.mobile-gost{display: none;}
.audio-controls{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.audio-controls svg{
    width: 35px;
    height: auto;
}
.audio-controls[context="desktop"]{
    display: none;
}
@media screen and (min-width: 450px) {
    .mobile-gost{display: inline-block; width: 140px;}
    .trackinfo-desktop{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    .trackinfo-mobile{display: none;}
    .musicPlayer{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 75%;
        width: 40%;
        border-radius: 20px;
        background: none;
        background-color: rgba(255, 255, 255, 0.284);
        max-width: 600px;
    }
    .audio-controls[context="desktop"]{
        display: flex;
    }
    .audio-controls[context="mobile"]{
        display: none;
    }
}
.playPauseContainer{
    position: relative;
    aspect-ratio: 1;
    height: 90%;
    width: auto;
}
.trackImage{
    width: auto;
    height: 100%;
    border-radius: 10px;
}
.tracksInfo{
    gap: 20px;
}
#songTitle{
    margin: 0px;
}
.playPauseButtons{
    top: 0px;
    left: 0px;
    opacity: 0;
    position: absolute;

}
.playPauseButtons svg{
    width: 48px;
    height: auto;
    padding:10px;
}
.playPauseButtons:hover{
    opacity: 1;
    transition: opacity 0.1s;
}


.trackImage[hovered="hovered"]{
    filter: blur(3px);
    transition: filter 0.1s;    
}

