.header{
    display: flex;
    flex-direction: row;
    background: var(--header-gradient);
    justify-content: space-between;
    align-items: center;
    height: 75px;
    position: relative;
    z-index: 5;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 10px;
    border: 3px solid var(--solid-border);
    min-width: 75%;
    gap: 10px;
    transition: var(--border-transition);
}
#songArtist{
    margin: 0px;
}
.header h1{
    font-size: 2.2em;
}
.header:hover{
    border: 3px solid var(--solid-border-hover);
    
}
@media screen and (min-width : 714px){
    .header{
        min-width: 75%;
    }
}

.logoHeader{
    width: 50px;
    height: 50px;
    left: 0px;
}

.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.header__logo svg{
    width: 50px;
    height: auto;
}
.headerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.addMusicButton{
    padding: 5px;
    background-color: white;
}
.musicPlayer{
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 75px;
    width: calc(100% - 20px);
    background: linear-gradient(90deg, var(--header-1) 0%, var(--header-2) 50%, var(--header-3) 100%);
    padding: 4px 10px;
    border-radius: 0px;
    bottom: 0;
    left: 0;
    box-shadow: var(--box-shadow);
}

.trackinfos-parent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.trackinfo-desktop{
    display: none;
}
.trackinfo-mobile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.mobile-gost{
    display: none;
}
.audio-controls{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.header .audio-controls svg{
    width: 35px;
    height: auto;
}
.audio-controls[context="desktop"]{
    display: none;
}

.serach-button-div:hover{
    background-color:  var(--cards-background-hovered);
}

.serach-button-div{
    display: none;
    align-content: center;
    gap: 2px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.771);
    border-radius: 20px;
    padding: 5px;
    box-shadow: var(--box-shadow-small);

}
.userDropdown{
    display: flex;
}

.serach-button-div .keyboard-key, .serach-button-div span{
    display: none;
}
@media screen and (min-width: 714px) {
    
    .trackinfo-desktop{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    .trackinfo-mobile{display: none;}
    .musicPlayer{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 75%;
        width: 40%;
        border-radius: 20px;
        background: none;
        background-color: color-mix(in srgb, var(--cards-background) 40%, transparent);
        max-width: 600px;
    }

    .audio-controls[context="desktop"]{
        display: flex;
        margin: 0px 20px;
    }
    .audio-controls[context="mobile"]{
        display: none;
    }

}

@media screen and (min-width: 1100px) {
    
    .serach-button-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        width: 200px;
        cursor: pointer;
        background-color: var(--cards-background);
        border-radius: 20px;
        padding: 3px 10px 3px 17px;
    }
    .mobile-gost{display: flex; width: 140px; gap: 10px}
    
    .serach-button-div .keyboard-key, .serach-button-div span{
        display: inline-block;
    }
}
.playPauseContainer{
    position: relative;
    aspect-ratio: 1;
    height: 90%;
    width: auto;
}
.trackImage{
    width: auto;
    height: 100%;
    border-radius: 10px;
}
.tracksInfo{
    gap: 20px;
}
#songTitle{
    margin: 0px;
}
.playPauseButtons{
    top: 0px;
    left: 0px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
.playPauseButtons svg{
    width: 48px;
    height: auto;
    padding:10px;
    animation: full-screen-button-anim cubic-bezier(.65,.05,.36,1) 1s alternate-reverse infinite;
    /* animation: ; */
}
@keyframes full-screen-button-anim {
    from {
        color:white;
    }
    to{
        color:var(--font-color);
    }
    
}
.playPauseButtons:hover{
    opacity: 1;
    transition: opacity 0.1s;
}


.trackImage[hovered="hovered"]{
    filter: blur(3px);
    transition: filter 0.1s;    
}


.volume-bar{
    position: absolute;
    top: 60px;
    width: 200px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 20px;
    z-index: 10;
}

:root.dark .volume-bar{
    background-color: var(--header-1);
  }
  

#color-theme-svg{
    rotate: 0deg;
    transition: rotate 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#color-theme-svg[data-color-theme="dark"]{
    rotate: 180deg;
}