.music-queue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    position: absolute;
    top: 60px;
    background: var(--white-gradient-simple);
    border-radius: 10px;
    width: 300px;
    z-index: 10;
    height: calc(100vh - 200px);

}
#queue-trash{
    position: absolute;
    right: 25px
}
:root.dark .music-queue{
    background: var(--header-gradient-simple-3);
}
.queue-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.music-queue-entry{
    background-color: var(--cards-background);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: left;
    padding-left: 5px;
    opacity: 1;
    cursor: pointer;
    margin-left: 5px;
    overflow: hidden;
    align-items: center;
    height: 45px;
    text-wrap: nowrap;
}
.music-queue-entry img{
    height: 40px;
    width: 40px;
    margin: auto 0px;
}
.music-queue-entry[is-passed='true']{
    background-color: var(--cards-background-hovered);
    opacity: 0.4;
}
.music-queue-entry[is-selected='true']{
    background-color: var(--cards-background-hovered);
    opacity: 1;
}

.track-image-small{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}