.progressBar{
    width: 100%;
    height: 25px;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

}
.progressBar .progressFill{
    height: 100%;
    border-radius: 5px;
}
.progressPercent{
    position: absolute;
    top: 0;
    left: 0;
    color: #2d4961;
    padding: 0px 15px;
}