.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--header-1) -20px, var(--header-2) 190%);
    margin: 10px 10px 10px 5px;
    border-radius: 20px;
    border: solid  var(--solid-border) 3px;
    transition: var(--border-transition)
}
.sidebar:hover{
    border: 3px solid var(--solid-border-hover);
}
.sidebar p{
   padding: 0px;
}
.stat-short{
    padding: 20px 10px 0px 10px;
    display: none;

}
.stat-short > p{
    margin: 0px;
}
#nav-recent{
    display: none;
}
@media screen and (min-width: 820px) {
    #nav-recent{
        display: flex;
    }
    .sidebar{
        width: calc(100% - 20px);
        width: 334px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .stat-short{
        display: block;
    }
    
}
.stat-short-category{
    background-color: var(--cards-background);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow-small);
}
.stat-short-category p{
    margin: 3px 0px;
}

.stat-short-category .progressFill{
    transition: width 1s;
}

.sidebar > nav{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 10px 10px;
    flex-grow: 1;
    gap: 10px;
    
}

a{
    text-decoration: none;
    color: var(--font-color);
    margin: 0px;
    background-color: var(--a-back);
    border-radius: 10px;
    padding: 7px 20px 7px 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: solid rgba(255, 255, 255, 0.358) 3px;
    font-size: 18px;
    transition: all 0.2s;
    position: relative;
    box-shadow: var(--box-shadow-tiny);
}
a > svg{
    margin-right: 10px;
}

a:hover{

    background-color: var(--a-hover);
    border: solid rgba(255, 255, 255, 0.416) 3px;
    color: var(--a-color-hover);

}
a:hover  svg{
    color: var(--a-color-hover);
}
