.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(237, 255, 247);
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}
.sidebar p{
   padding: 0px;
}
.stat-short{
    padding: 20px 10px;
    display: none;
}
@media screen and (min-width: 450px) {
    .sidebar{
        width: 350px;
        height: calc(100% - 20px);
    }
    .stat-short{
        display: block;
    }
    
}
.stat-short-category{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
}
.stat-short-category p{
    margin: 3px 0px;
}

.sidebar > nav{
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
}
a{
    text-decoration: none;
    color: #2d4961;
    font-size: 20px;
    margin: 0px;
    background-color: rgb(228, 255, 250);
    border-radius: 20px;
    padding: 7px 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
a > svg{
    margin-right: 10px;
}