.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(208, 255, 235) -20px, rgb(208, 240, 246) 100%);

    margin: 10px;
    border-radius: 20px;
    border: solid white 3px;
}
.sidebar p{
   padding: 0px;
}
.stat-short{
    padding: 20px 10px 0px 10px;
    display: none;
}
.stat-short > p{
    margin: 0px;
}
#nav-recent{
    display: none;
}
@media screen and (min-width: 714px) {
    #nav-recent{
        display: block;
    }
    .sidebar{
        width: calc(100% - 20px);
        width: 334px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .stat-short{
        display: block;
    }
    
}
.stat-short-category{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
}
.stat-short-category p{
    margin: 3px 0px;
}

.sidebar > nav{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 10px 10px;
    flex-grow: 1;
    gap: 10px;
}

a{
    text-decoration: none;
    color: var(--font-color);
    margin: 0px;
    background-color: rgb(228, 255, 250);
    border-radius: 10px;
    padding: 7px 20px 7px 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: solid rgba(255, 255, 255, 0.358) 3px;
    font-size: 18px;
    transition: all 0.2s;
    position: relative;
}
a > svg{
    margin-right: 10px;
}

a:hover{
    background-color: rgb(210, 246, 255);
    border: solid rgba(255, 255, 255, 0.416) 3px;
    color: rgb(67, 117, 209);

}
a:hover  svg{
    color: rgb(36, 89, 188);
}
