.edit-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 30px;
    background-color: var(--cards-background-hovered);
    border-radius: 20px;   
    height: fit-content;
    width:  calc(100% - 100px);
    max-width: 400px;
    position: absolute;
    top : 100px;
    z-index: 11;
    border: 2px solid lightblue;
}

.edit-tag-picker{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    right: 100px;
}

.small-tag{
    width: fit-content;
    padding: 10px 40px 10px 20px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    text-wrap: nowrap;
}
:root.dark .small-tag{
    color:var(--font-color-base);
}
.small-tag[data-prefix="true"]{
    padding-left: 40px;
}
.small-tag svg {
    position: absolute;
    right: 10px;
    opacity: 0.2;
}
.small-tag:hover svg{
    opacity: 0.8;
}
.small-tag svg[data-prefix='true']{
    left: 10px;
    opacity: 0.5;
} 
.small-tag:hover svg[data-prefix='true']{
}

.track-tags-div{
    display: flex;
    row-gap: 10px;
    column-gap: 20px;
    flex-wrap: wrap;

}